@import "./variables.css";

/*-------------------------------------------------------*/
/* Table of Content

1.General
  1.1.Typography
  1.2.Grid
2.Common Elements
3.Grid
4.Header / Navbar
6.WordPress
7.Footer
4.Blog
9.Gutenberg
10.Widgets

/*-------------------------------------------------------*/
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
	.visible {
		visibility: visible;
	}
	.invisible {
		visibility: hidden;
	}
}

@layer utilities {
	.text-fill-transparent {
		-webkit-text-fill-color: transparent;
	}
}

@layer components {
  .eversor-button-light-volume .elementor-button {
    box-shadow: theme('boxShadow.white-volume');
  }

	.eversor-button-volume .elementor-button {
		box-shadow: theme('boxShadow.accent-volume');
	}

  .eversor-text-gradient h1,
  .eversor-text-gradient h2,
  .eversor-text-gradient h3,
  .eversor-text-gradient h4,
  .eversor-text-gradient h5,
  .eversor-text-gradient h6,
  .eversor-text-gradient span {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    @apply inline-block bg-gradient-to-r from-[#FFE993] to-[#FFB770];
  }

  .eversor-text-gradient--style-2 h1,
  .eversor-text-gradient--style-2 h2,
  .eversor-text-gradient--style-2 h3,
  .eversor-text-gradient--style-2 h4,
  .eversor-text-gradient--style-2 h5,
  .eversor-text-gradient--style-2 h6,
  .eversor-text-gradient--style-2 span {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    @apply inline-block bg-gradient-to-r from-[#F43771] to-[#FF9567];
  }

  .eversor-hero-gradient {
    @apply h-[364px] w-[364px] overflow-hidden rounded-[1.875rem] bg-gradient-to-tr from-[#4158D0] via-[#C850C0] to-[#FFCC70];
  }

  .eversor-hero-gradient-content {
    @apply -rotate-45 scale-150 animate-gradientDiagonal;
  }

}

.eversor-game-hero {
  @apply bg-jacarta-900;
}

.eversor-icon-box__icon--style-2 {
  @apply mb-9 -mt-8 inline-flex h-[5.5rem] w-[5.5rem] items-center justify-center rounded-full border border-jacarta-100 bg-white dark:border-jacarta-600 dark:bg-jacarta-700;
}

.eversor-icon-box__icon--style-2 svg {
  @apply h-12 w-12 fill-accent;
}

.eversor-dark-mode::before {
  height: calc( 100% + 2px );
  width: calc( 100% + 2px );
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
}

.dark .eversor-dark-mode::before {
	@apply hidden;
}

/*-------------------------------------------------------*/
/* General
/*-------------------------------------------------------*/
::-moz-selection {
	color: #333;
	background: #fbedc4;
}
::-webkit-selection {
	color: #333;
	background: #fbedc4;
}
::selection {
	color: #333;
	background: #fbedc4;
}

body {
	@apply bg-white text-jacarta-500 overflow-x-hidden font-body dark:bg-jacarta-900 dark:text-jacarta-300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-display font-semibold text-jacarta-700 dark:text-white mb-2.5;
}

h1 {
	@apply text-5xl;
}

h2 {
	@apply text-3xl;
}

h3 {
	@apply text-2xl;
}

h4 {
	@apply text-xl;
}

h5 {
	@apply text-lg;
}

h6 {
	@apply text-base;
}

a {
  @apply text-accent;
	transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out,
		border-color 0.1s ease-in-out;
}

a:hover {
	@apply text-accent;
}

:where(h1, h2, h3, h4, h5, h6) > a {
	@apply text-inherit;
}

p {
  @apply mb-4;
}

address {
  @apply mb-4 not-italic;
}

figcaption {
	font-size: 0.8125rem;
	margin-top: 16px;
	text-align: center;
}

legend {
  @apply text-lg;
}

hr {
	@apply my-4 text-jacarta-50 dark:text-jacarta-600;
}

ol, ul {
  padding-left: 1.2rem;
  list-style: initial;
}

/*-------------------------------------------------------*/
/* Form Elements
/*-------------------------------------------------------*/
[type='text'],
[type='email'],
[type='url'],
[type='password'],
[type='number'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='search'],
[type='tel'],
[type='time'],
[type='week'],
[multiple],
textarea,
select,
.select2-container--default .select2-selection--single {
  @apply w-full mb-6 rounded-lg border-jacarta-100 py-3 hover:ring-2 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:bg-jacarta-700 dark:text-white dark:placeholder:text-jacarta-300;
}

[type='checkbox'],
[type='radio'] {
  @apply h-5 w-5 mr-2 text-accent checked:bg-accent rounded focus:ring-accent/20 focus:ring-offset-0 border-jacarta-200 dark:border-jacarta-500 dark:bg-jacarta-700;
}

[type='radio'] {
  @apply rounded-full;
}

label {
  @apply mb-1 inline-block font-display text-sm text-jacarta-700 dark:text-white;
}

.comment-form-cookies-consent label,
.consent-checkbox label,
.wpcf7-acceptance label {
  @apply mb-0 font-body;
}

.comment-form-cookies-consent {
  @apply mb-6 flex items-center space-x-2;
}


/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	@apply hidden;
}

select::-ms-expand {
  display: none;
}

select option {
  font-weight: normal;
}

/* Select 2 dropdowns */
.select2-dropdown {
  @apply dark:bg-jacarta-700;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 1.5;
  padding-left: 12px;
  color: inherit;
}

.select2-container--default .select2-selection--single,
.select2-search--dropdown .select2-search__field {
  margin-bottom: 0;
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 47px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  width: 32px;
}

/*-------------------------------------------------------*/
/* Buttons
/*-------------------------------------------------------*/
.btn,
.button,
.wp-block-button__link,
button,
[type='button'],
[type='reset'],
[type='submit'],
input[type=button],
input[type=reset],
input[type=submit] {
	@apply font-semibold relative text-center bg-accent text-white fill-white py-3 px-8 rounded-lg cursor-pointer align-middle transition-all hover:bg-jacarta-700;
	border: 2px solid transparent;
	backface-visibility: hidden;
	touch-action: manipulation;
	user-select: none;
}

.elementor-button-wrapper a.elementor-button {
	@apply rounded-full bg-accent py-3 px-8 leading-6 font-semibold transition-all hover:bg-accent-dark;
}

.elementor-button-wrapper a.elementor-button.elementor-size-sm {
  @apply py-2.5 px-8;
}

.btn svg {
	margin-left: 4px;
	width: 17px;
}

.btn.btn--lg {
	font-size: var(--deo-btn-lg-size);
	padding: 17px 38px;
}

.btn.btn--lg svg {
	width: 20px;
}

.btn.btn--md {
	font-size: var(--deo-btn-md-size);
	padding: 13px 28px;
}

.btn.btn--sm {
	font-size: var(--deo-btn-sm-size);
	padding: 9px 24px;
}

.btn.btn--stroke {
	background-color: transparent;
	border-color: var(--deo-primary-color);
	color: var(--deo-heading-color);
}

.btn-wide {
	width: 100% !important;
}


/*-------------------------------------------------------*/
/* Grid
/*-------------------------------------------------------*/

/* Sidebar
/*-------------------------------------------------------*/
@media only screen and (min-width: 1025px) {
  .sidebar {
    max-width: 320px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 320px;
    flex: 0 0 320px;
  }

  .xhibiter-left-sidebar .content {
    order: 2;
  }

  .xhibiter-left-sidebar .content {
    padding-left: 50px;
  }

  .xhibiter-right-sidebar .content {
    padding-right: 50px;
  }
}

.xhibiter-fullwidth .content-row {
  display: block;
}

/*-------------------------------------------------------*/
/* Main Wrapper
/*-------------------------------------------------------*/
.main-wrapper {
  position: relative;
}

.content {
  min-width: 0;
}


/*-------------------------------------------------------*/
/* Header / Navbar
/*-------------------------------------------------------*/

/* Sticky Header */
.js-page-header--is-sticky,
.eversor-header--is-stuck {
	@apply bg-white/50 backdrop-blur;
}

.eversor-header--is-transparent.blurry-transparent {
  @apply backdrop-blur
}

.eversor-header--is-transparent.blurry-dark {
  @apply bg-white/[.15] backdrop-blur
}

.js-page-header--is-sticky.page-header--transparent,
.eversor-header--is-stuck.blurry-dark,
.eversor-header--is-stuck.blurry-transparent,
.dark .js-page-header--is-sticky,
.dark .eversor-header--is-stuck {
	@apply bg-jacarta-700/50;
}

/* Navbar */
.nav__menu > li > a,
.eversor-nav-menu__list > li > a {
	@apply flex items-center py-3.5 font-display text-base text-jacarta-700 hover:text-accent focus:text-accent dark:text-white dark:hover:text-accent dark:focus:text-accent lg:px-5;
}

.dropdown-menu {
  @apply p-0;
}

.nav__dropdown-menu,
.eversor-nav-menu--horizontal .eversor-nav-menu__dropdown-menu,
.eversor-menu-icon__dropdown,
.xhibiter-menu-cart__dropdown {
	@apply lg:invisible left-0 top-full z-10 hidden min-w-[200px] gap-x-4 whitespace-nowrap rounded-xl bg-white transition-all will-change-transform dark:bg-jacarta-800 lg:absolute lg:grid lg:translate-y-4 lg:py-4 lg:px-2 lg:opacity-0 lg:shadow-2xl lg:group-hover:translate-y-0;
}

/* Align last dropdown */
.nav__menu > li:last-child .nav__dropdown-child-submenu,
.eversor-nav-menu--horizontal .eversor-nav-menu__list > li:last-child .eversor-nav-menu__dropdown-child-submenu {
  right: 100%;
  left: auto;
}

.eversor-menu-icon__dropdown {
	@apply -right-8 left-auto;
}

.eversor-menu-icon:hover .eversor-menu-icon__dropdown	{
	@apply opacity-100 visible;
}

.eversor-nav-menu__list li:hover > .eversor-nav-menu__dropdown-menu,
.eversor-nav-menu__list li:focus > .eversor-nav-menu__dropdown-menu,
.eversor-nav-menu__list li.focus > .eversor-nav-menu__dropdown-menu,
.eversor-nav-menu__list li:hover > .nav__dropdown-menu,
.eversor-nav-menu__list li:focus > .nav__dropdown-menu,
.eversor-nav-menu__list li.focus > .nav__dropdown-menu,
.nav__menu li:hover > .nav__dropdown-menu,
.nav__menu li:focus > .nav__dropdown-menu,
.nav__menu li.focus > .nav__dropdown-menu {
	@apply opacity-100 visible translate-y-0;
}

.nav__dropdown-menu li a,
.dropdown-menu li a {
	@apply font-display text-sm text-jacarta-700 dark:text-white flex items-center rounded-xl px-5 py-2 transition-colors hover:bg-jacarta-50 hover:text-accent focus:text-accent dark:hover:bg-jacarta-600;
}

.nav__dropdown-menu .nav__dropdown-menu {
	@apply left-full -top-3;
}

.nav__dropdown-trigger {
	@apply inline-flex fill-inherit bg-transparent hover:bg-transparent items-center text-center absolute top-0 right-0 p-0 z-[9] cursor-pointer h-12 transition-transform;
}

.nav__item-submenu-trigger {
	@apply ml-auto;
}

.nav__dropdown-menu-megamenu {
	@apply lg:-left-6;
}

.nav__dropdown-trigger--is-open {
	@apply rotate-180;
}

.eversor-nav-menu__dropdown .dropdown-menu .nav__dropdown-trigger,
.nav__dropdown .nav__dropdown-menu .nav__dropdown-trigger {
	@apply h-8;
}

/* Mobile Menu */
.nav-menu--is-open {
	@apply visible flex flex-col items-start overflow-y-auto px-5 pb-6 pt-0 opacity-100;
}

.nav-open-noscroll {
	@apply h-screen overflow-hidden;
}

/*-------------------------------------------------------*/
/* Single Post
/*-------------------------------------------------------*/
.single-post__content {
  max-width: var(--deo-container-width--narrow);
  margin-left: auto;
  margin-right: auto;
}

.single-post__entry {
  overflow: visible;
}

.entry__article a {
  text-decoration: underline;
}

.entry__article > h1,
.entry__article > h2,
.entry__article > h3,
.entry__article > h4,
.entry__article > h5,
.entry__article > h6 {
  @apply !mt-12 mb-4 font-display text-jacarta-700 dark:text-white;
}

.entry__article > p,
.entry__article > ul,
.entry__article > ol {
  @apply mb-8;
}

.elementor-widget-text-editor ul,
.elementor-widget-text-editor ol,
.entry__article > ul,
.entry__article > ol {
  list-style: initial;
  @apply space-y-4;
}

/* Comments
/*-------------------------------------------------------*/
.xhibiter-fullwidth .section-comments {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  max-width: 100vw;
}

.section-comments + .section-comment-form {
  padding-top: 100px;
}

.entry__comments {
  margin-top: 40px;
}

.comment-respond__title small {
  margin-left: 12px;
  font-size: 1rem;
}

.comment-content > h1, .comment-content > h2, .comment-content > h3, .comment-content > h4, .comment-content > h5, .comment-content > h6 {
  margin-top: 36px;
  margin-bottom: 20px;
}
.comment-content ol {
  padding-left: 26px;
}
.comment-content ul {
  padding-left: 20px;
}

.comment-list {
  padding-left: 0;
  margin-bottom: 48px;
}
.comment-list, .comment-list .children {
  list-style: none;
}
.comment .children {
  padding-left: 30px;
}
@media only screen and (max-width: 767px) {
  .comment .children {
    padding-left: 20px;
  }
  .comment .children .children {
    padding-left: 0;
  }
}
.comment-list > li:first-child > .comment-body {
  border-top: 0;
  padding-top: 0;
}
.comment-body {
  margin-bottom: 32px;
  padding-top: 32px;
  border-top: 1px solid var(--deo-border-color);
}
.comment-text {
  overflow: hidden;
}
.comment-avatar {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
  display: block;
  overflow: hidden;
}
.comment-author {
  font-size: 1rem;
  font-family: var(--deo-heading-font);
}
.comment-author__name {
  color: var(--deo-heading-color);
}
.comment-author__post-author-label {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-bottom: 3px;
  background-color: var(--deo-primary-color);
  color: #fff;
  padding: 3px 8px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 0.6875rem;
}
.comment-author a {
  color: inherit;
}

.comment-date, .comment-edit-link {
  display: inline-block;
  margin-bottom: 14px;
  font-size: 0.75rem;
}
.comment-edit-link {
  margin-left: 5px;
  margin-bottom: 0;
  color: var(--deo-primary-color);
}

/* Comment Form
/*-------------------------------------------------------*/
.comment-respond {
  margin-bottom: 60px;
}
.comment-body + .comment-respond {
  margin-top: 60px;
}

.comment-form .logged-in-as {
  margin-bottom: 26px;
  margin-top: -20px;
}


/* Animated Gradient
/*-------------------------------------------------------*/
.animate-gradient {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    270deg,
    rgb(255, 115, 86) 0%,
    rgb(255, 89, 226) 25.52%,
    rgb(82, 221, 246) 50%,
    rgb(234, 223, 78) 76.04%,
    rgb(255, 115, 86) 100%
  );
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
}

.animate-gradient--no-text-fill {
  -webkit-text-fill-color: initial;
}

.animate-gradientDiagonal {
  background: linear-gradient(
    270deg,
    rgb(65, 88, 208) 0%,
    rgb(200, 80, 192) 25.52%,
    rgb(255, 204, 112) 50%,
    rgb(255, 112, 112) 76.04%,
    rgb(65, 88, 208) 100%
  );
  background-size: 200% auto;
}

/*-------------------------------------------------------*/
/* WordPress Styles
/*-------------------------------------------------------*/
body.admin-bar .nav.fixed {
	@apply top-8;
}

@media screen and (max-width: 782px) {
	body.admin-bar .nav.fixed {
		@apply top-[46px];
	}
}

.site-title {
  @apply dark:text-white;
	font-family: var(--deo-heading-font);
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 0;
	line-height: 1.2;
}

.site-tagline {
  @apply dark:text-jacarta-300;
	margin-bottom: 0;
	font-style: italic;
	font-size: 0.875rem;
	color: var(--deo-text-color);
}

/* Accessibility
-------------------------------------------------------*/
.screen-reader-text,
.says {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	white-space: nowrap;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/* Skip link focus fix
-------------------------------------------------------*/
.skip-link {
  background-color: #f1f1f1;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  color: var(--deo-primary-color);
  display: block;
  font-family: var(--deo-body-font);
  font-size: 14px;
  font-weight: 500;
  left: -9999em;
  outline: none;
  padding: 15px 23px 14px;
  text-decoration: none;
  text-transform: none;
  top: -9999em;
}

.skip-link:focus {
  clip: auto;
  height: auto;
  left: 6px;
  top: 7px;
  width: auto;
  z-index: 100000;
}

/* Alignment
-------------------------------------------------------*/
.alignleft,
.alignright {
	@apply !max-w-full float-none sm:!max-w-[40%];
}

.alignleft {
	@apply sm:float-left sm:mt-2 sm:mr-8 sm:mb-8 sm:ml-0;
}

.alignright {
	@apply sm:float-right sm:mt-2 sm:mr-0 sm:mb-8 sm:ml-8;
}

.alignnone {
	@apply my-2 mx-0;
}

.aligncenter {
	@apply block my-2 mx-auto text-center;
}

/* Captions */
.wp-caption,
.gallery-caption {
	max-width: 100%;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 0 4px 5px;
}

.bypostauthor > .comment-body > .comment-meta > .comment-author .avatar {
	border: 1px solid var(--deo-border-color);
	padding: 2px;
}

/*-------------------------------------------------------*/
/* Galleries
/*-------------------------------------------------------*/
ul.wp-block-gallery {
  padding-left: 0;
}

@media only screen and (min-width: 576px) {
  div[class^=gallery-columns-],
  div[class*=" gallery-columns-"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
  }
}
.gallery-caption {
  display: block;
  text-align: left;
  padding: 0 10px 0 0;
  margin-bottom: 0;
}

.gallery-item {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  margin-bottom: 20px;
  padding: 0 10px;
  width: 100%;
}
.gallery-item img {
  width: 100%;
}
.gallery-item a {
  overflow: hidden;
}
@media only screen and (max-width: 575px) {
  .gallery-item {
    max-width: 100%;
    padding: 0;
  }
}

.gallery-item a,
.gallery-item a:hover,
.gallery-item a:focus,
.widget-area .gallery-item a,
.widget-area .gallery-item a:hover,
.widget-area .gallery-item a:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
  max-width: 100%;
  display: block;
}

.gallery-item a img {
  display: block;
  -webkit-transition: var(--deo-transition--all);
  transition: var(--deo-transition--all);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.gallery-item a:hover img,
.gallery-item a:focus img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Gallery Columns
/*-------------------------------------------------------*/
.gallery-columns-1 .gallery-item {
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

@media only screen and (min-width: 576px) {
  .gallery-columns-3 .gallery-item {
    max-width: 33.33%;
  }
  .gallery-columns-4 .gallery-item {
    max-width: 25%;
  }
}
@media only screen and (min-width: 768px) {
  .gallery-columns-5 .gallery-item {
    max-width: 20%;
  }
  .gallery-columns-6 .gallery-item {
    max-width: 16.66%;
  }
  .gallery-columns-7 .gallery-item {
    max-width: 14.28%;
  }
  .gallery-columns-8 .gallery-item {
    max-width: 12.5%;
  }
  .gallery-columns-9 .gallery-item {
    max-width: 11.11%;
  }
}
.gallery-columns-5 .gallery-caption,
.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none;
}

/*-------------------------------------------------------*/
/* Blockquote
/*-------------------------------------------------------*/
blockquote {
  line-height: 1.6;
  padding: 12px 40px;
  margin-bottom: 40px;
  margin-top: 40px;
  border-left: 3px solid var(--deo-primary-color);
}

blockquote p {
  @apply text-jacarta-700 dark:text-white;
  margin-bottom: 0;
  font-style: italic;
  font-size: 1.5rem;
}

blockquote cite {
  @apply text-jacarta-400 dark:text-jacarta-300;
  font-style: normal;
  font-size: 0.875rem;
  opacity: 0.7;
  margin-top: 1em;
  line-height: 1.8;
  display: inline-block;
}

/*-------------------------------------------------------*/
/* Alerts
/*-------------------------------------------------------*/
.alert {
  border-radius: 5px;
}
.alert-info {
  background-color: #d9edf7;
  border-color: transparent;
  border-left: 5px solid #bcdff1;
}
.alert-success {
  background-color: #dff0d8;
  border-color: transparent;
  border-left: 5px solid #cae6be;
}
.alert-warning {
  background-color: #fcf8e3;
  border-color: transparent;
  border-left: 5px solid #f9f0c3;
}
.alert-danger {
  background-color: #f2dede;
  border-color: transparent;
  border-left: 5px solid #e8c4c4;
}

/*-------------------------------------------------------*/
/* Tables
/*-------------------------------------------------------*/
table th {
  font-weight: normal;
}

table caption {
  margin-bottom: 10px;
}

table th,
table td {
  padding: 10px;
  border: 1px solid var(--deo-border-color);
}

table > thead > tr > th {
  border-bottom: none;
}

table thead tr th,
table tbody tr th {
  @apply text-base font-bold text-jacarta-700 dark:text-white text-left;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}


/*-------------------------------------------------------*/
/* Page Title
/*-------------------------------------------------------*/
.page-title {
  overflow: hidden;
}

.page-title + .blog-section {
  padding-top: 0;
}

.page-title__holder {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .page-title__holder {
    width: 70%;
  }
}
.page-title__title {
  font-size: var(--wp--preset--font-size--x-large);
  margin-bottom: 0;
}

@media only screen and (min-width: 1025px) {
  .page-title__title {
    font-size: var(--wp--preset--font-size--2-x-large);
  }
}

.page-title__description {
  margin-bottom: 0;
  font-size: 1.25rem;
  max-width: 492px;
}
.page-title__description p {
  margin-bottom: 0;
}
.page-title--featured-image::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.68);
}


/*-------------------------------------------------------*/
/* Password
/*-------------------------------------------------------*/
.post-password-form label > input {
	margin-bottom: 14px;
}

.post-password-form label + input {
	margin-bottom: 0;
	width: auto;
	padding-top: 13px;
	padding-bottom: 13px;
}

/*-------------------------------------------------------*/
/* Sticky Post
/*-------------------------------------------------------*/
.post.sticky .entry__title::before {
	content: "";
  background-image: url("../img/pushpin-fill-transparent.svg");
	display: inline-block;
	font-size: 1rem;
	font-weight: normal;
	color: var(--deo-text-color--light);
	height: 20px;
	width: 20px;
}

.content .post.sticky .entry__title:before {
	margin-right: 10px;
}

/* Meta date updated
/*-------------------------------------------------------*/
.updated:not(.published) {
	@apply hidden;
}

/*-------------------------------------------------------*/
/* Comments Multipages Pagination
/*-------------------------------------------------------*/
.comment-navigation {
  margin: 20px 0;
}
.comment-navigation .nav-links:before,
.comment-navigation .nav-links:after {
  display: table;
  content: "";
  clear: both;
}
.comment-navigation .nav-previous {
  float: left;
}
.comment-navigation .nav-next {
  float: right;
}

/*-------------------------------------------------------*/
/* Gutenberg Front-end Styles
/*-------------------------------------------------------*/
.wp-block-columns {
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
}
@media only screen and (min-width: 1025px) {
  .wp-block-columns {
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
  }
}

@media only screen and (min-width: 1025px) {
  .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media only screen and (max-width: 1024px) {
  .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
    -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
  }
}

/* Full-width Images
-------------------------------------------------------*/
.alignwide {
  width: auto;
  max-width: none;
  position: relative;
  z-index: 1;
}
@media only screen and (min-width: 1025px) {
  .alignwide {
    margin-left: -165px;
    margin-right: -165px;
  }
}

.alignfull {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  max-width: 100vw;
  width: auto;
  position: relative;
  z-index: 1;
}

.xhibiter-right-sidebar .alignfull,
.xhibiter-right-sidebar .alignwide,
.xhibiter-left-sidebar .alignfull,
.xhibiter-left-sidebar .alignwide {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.page.xhibiter-fullwidth .entry__article .alignwide {
  margin-left: 0;
  margin-right: 0;
}

/* Images
-------------------------------------------------------*/
.wp-block-image .alignleft {
  margin-right: 2em;
  max-width: 40%;
}
@media only screen and (max-width: 575px) {
  .wp-block-image .alignleft {
    float: none;
    margin-right: 0;
  }
}
.wp-block-image .alignright {
  margin-left: 2em;
  max-width: 40%;
}
@media only screen and (max-width: 575px) {
  .wp-block-image .alignright {
    float: none;
    margin-left: 0;
  }
}

/* Cover
-------------------------------------------------------*/
.wp-block-cover {
  font-size: 1rem;
  line-height: 1.3;
}
.wp-block-cover.alignleft {
  margin: 0.5em 2em 1.5em 0;
}
.wp-block-cover.alignright {
  margin: 0.5em 0 1.5em 2em;
}

.wp-block-cover,
.wp-block-cover-image {
  padding: 2em;
}

.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover .wp-block-cover-text,
section.wp-block-cover-image > h2 {
  font-size: 2.25em;
}

/* Tables
-------------------------------------------------------*/
.wp-block-table {
  width: 100%;
  margin-bottom: 2rem;
}

.wp-block-table.is-style-stripes.has-subtle-light-gray-background-color tr:nth-child(odd),
.wp-block-table.is-style-stripes tr:nth-child(odd) {
  background-color: #f9f9f9;
}

/* Latest Comments
-------------------------------------------------------*/
ol.wp-block-latest-comments {
  padding-left: 0;
}

/* Galleries
-------------------------------------------------------*/
ul.wp-block-gallery,
.wp-block-gallery ul {
  list-style: none;
  padding-left: 0;
}

/* Captions
-------------------------------------------------------*/
.wp-block-image figcaption,
.wp-block-embed figcaption,
.wp-block-audio figcaption {
  color: var(--deo-text-color);
}

.wp-block-image figcaption {
  margin-top: 1em;
}

/* Separators
-------------------------------------------------------*/
.wp-block-separator {
  border-top: 0;
  border-color: var(--deo-border-color);
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots),
.wp-block-separator.is-style-default {
  max-width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.wp-block-separator.is-style-dots:before {
  font-weight: 500;
  color: var(--deo-text-color);
}

/* Blockquote / Pullquote
-------------------------------------------------------*/
blockquote {
  overflow: hidden;
}

.wp-block-quote.has-text-align-center {
  border: 0;
}
.wp-block-quote.has-text-align-right {
  border-left: 0;
  border-right-width: 3px;
  border-right-style: solid;
}
.wp-block-quote.is-large, .wp-block-quote.is-style-large {
  padding: 12px 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.wp-block-quote.is-large p, .wp-block-quote.is-style-large p {
  font-size: 2rem;
}
.wp-block-quote.is-large cite,
.wp-block-quote.is-large footer, .wp-block-quote.is-style-large cite,
.wp-block-quote.is-style-large footer {
  font-size: 1rem;
}

.wp-block-pullquote {
  text-align: left;
  position: relative;
  line-height: 1.5;
  padding: 0.1em 1em 0.2em 2.5em;
  margin-bottom: 30px;
  margin-top: 0;
  color: var(--deo-heading-color);
}
.wp-block-pullquote.alignleft, .wp-block-pullquote.alignright {
  font-size: 1rem;
}
.wp-block-pullquote blockquote {
  margin: 0;
  border: 0;
  padding: 0;
  line-height: normal;
}
.wp-block-pullquote::before {
  content: "“";
  color: var(--deo-primary-color);
  left: 0;
  top: 0;
  position: absolute;
  font-size: 5rem;
  line-height: 1;
}
.wp-block-pullquote p {
  color: inherit;
}
.wp-block-pullquote cite {
  opacity: 0.7;
}
.wp-block-pullquote blockquote:not(.has-text-color) cite {
  color: var(--deo-text-color);
}
@media only screen and (min-width: 576px) {
  .wp-block-pullquote.alignleft {
    margin-right: 2em;
  }
  .wp-block-pullquote.alignright {
    margin-left: 2em;
  }
}

.wp-block-pullquote.is-style-solid-color {
  margin-top: 10px;
  padding: 40px 0;
}
.wp-block-pullquote.is-style-solid-color::before {
  left: 10px;
  top: 10px;
}
.wp-block-pullquote.is-style-solid-color.alignleft blockquote p, .wp-block-pullquote.is-style-solid-color.alignright blockquote p {
  font-size: 1rem;
}

/* Social Icons
-------------------------------------------------------*/
ul.wp-block-social-links {
  padding: 0;
}
ul.wp-block-social-links .wp-social-link a:focus {
  color: currentColor;
  fill: currentColor;
}


/*-------------------------------------------------------*/
/* Preloader
/*-------------------------------------------------------*/
.loader-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background-color: #fff;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  z-index: 99999;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  font-size: 0;
  color: var(--deo-primary-color);
  left: 50%;
  top: 50%;
  width: 42px;
  height: 42px;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.loader svg {
  width: 20px;
  height: 20px;
}

/*-------------------------------------------------------*/
/* Helper Classes
/*-------------------------------------------------------*/
.clearfix {
  zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.clear {
  clear: both;
}

.hover-shadow {
  @apply transition-shadow hover:shadow-xl;
}

/*-------------------------------------------------------*/
/* Blog
/*-------------------------------------------------------*/
.entry__img-holder .entry__img {
	@apply h-full;
}

.entry__img-holder + .entry__body {
  @apply border-t-0 rounded-t-none;
}

.entry__tags a {
  @apply text-jacarta-500 dark:text-jacarta-300;
  line-height: 1;
  margin: 14px 14px 10px 0;
  font-size: 1rem;
  border-bottom: 1px solid var(--deo-border-color);
  transition: color var(--deo-transition);
}

.entry__tags a:hover,
.entry__tags a:focus {
  @apply text-accent;
}
    

/*-------------------------------------------------------*/
/* Projects
/*-------------------------------------------------------*/
.project__img-holder .project__img {
	@apply rounded-2.5xl;
}

/*-------------------------------------------------------*/
/* Pagination
/*-------------------------------------------------------*/
.post-pagination {
	@apply mb-6;
}

.pagination {
	@apply text-center mt-6 relative z-10;
}

.pagination svg,
.woocommerce-pagination svg {
	@apply inline -mt-[3px];
}

.pagination span,
.pagination a,
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span,
.post-page-numbers {
	@apply text-sm w-8 leading-[30px] list-none transition-all align-middle whitespace-nowrap h-8 px-1 mx-[2px] mb-2 text-center text-jacarta-500 inline-block bg-white dark:bg-jacarta-700 dark:text-white dark:border-jacarta-600 rounded border border-jacarta-100;
}

.pagination span.current,
.woocommerce nav.woocommerce-pagination ul li span.current,
.post-page-numbers.current,
.pagination a:hover,
.pagination a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li a:focus {
	@apply bg-accent text-white border-transparent;
}


/* Go to Top
-------------------------------------------------------*/
#back-to-top {
	@apply bg-jacarta-50 z-50 w-8 h-8 leading-7 no-underline text-center fixed -bottom-16 right-5 text-sm rounded-full shadow-base transition-all;
}

#back-to-top a {
	@apply block;
}

#back-to-top svg {
	@apply inline;
}

#back-to-top.show {
	@apply bottom-5;
}

#back-to-top:hover {
	@apply bg-accent bottom-6 fill-white;
}


/* Scrollbar */
.scrollbar-custom {
  scrollbar-width: thin;
}

.scrollbar-custom::-webkit-scrollbar {
  overflow: overlay;
  @apply h-2 w-2;
}

.scrollbar-custom::-webkit-scrollbar-track {
  @apply bg-jacarta-100 dark:bg-jacarta-800;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-jacarta-300 dark:bg-jacarta-600;
}


/*-------------------------------------------------------*/
/* Widgets
/*-------------------------------------------------------*/
.widget_nav_menu .menu {
	@apply flex flex-col space-y-1;
}

.widget-title {
	@apply text-sm mb-6 dark:text-white;
}


/*-------------------------------------------------------*/
/* WooCommerce
/*-------------------------------------------------------*/
.woocommerce ul.products li.product {
	@apply rounded-2.5xl border border-jacarta-100 bg-white p-[1.1875rem] transition-all hover:shadow-lg dark:border-jacarta-700 dark:bg-jacarta-700;
}

.woocommerce-loop-product__title {
	@apply font-display text-base text-jacarta-700 hover:text-accent dark:text-white;
}

.xhibiter-product__price {
	@apply mb-1;
}

.xhibiter-product__price .amount {
	@apply text-sm font-medium tracking-tight text-green;
} 

.woocommerce .products .xhibiter-product__add-to-cart a {
	@apply p-0 bg-transparent font-display text-sm font-semibold text-accent;
}

.woocommerce .products .xhibiter-product__add-to-cart a:hover,
.woocommerce .products .xhibiter-product__add-to-cart a:focus {
	@apply bg-transparent text-jacarta-700 dark:text-white;
}

.xhibiter-product__categories a {
  @apply text-inherit;
}

.woocommerce .woocommerce-breadcrumb a,
.woocommerce .woocommerce-product-rating a {
  @apply text-jacarta-500 dark:text-jacarta-300 hover:text-accent dark:hover:text-accent mx-1;
}

.woocommerce table.shop_attributes tr:nth-child(even) td,
.woocommerce table.shop_attributes tr:nth-child(even) th {
  @apply bg-jacarta-50 dark:bg-jacarta-700;
}

/*-------------------------------------------------------*/
/* EVERSOR STYLES
/*-------------------------------------------------------*/

.elementor-icon-wrapper {
  display: flex;
}

/* Tooltips */
.tippy-box[data-animation=fade][data-state=hidden]{opacity:0}[data-tippy-root]{max-width:calc(100vw - 10px)}.tippy-box{position:relative;background-color:#333;color:#fff;border-radius:4px;font-size:14px;line-height:1.4;white-space:normal;outline:0;transition-property:transform,visibility,opacity}.tippy-box[data-placement^=top]>.tippy-arrow{bottom:0}.tippy-box[data-placement^=top]>.tippy-arrow:before{bottom:-7px;left:0;border-width:8px 8px 0;border-top-color:initial;transform-origin:center top}.tippy-box[data-placement^=bottom]>.tippy-arrow{top:0}.tippy-box[data-placement^=bottom]>.tippy-arrow:before{top:-7px;left:0;border-width:0 8px 8px;border-bottom-color:initial;transform-origin:center bottom}.tippy-box[data-placement^=left]>.tippy-arrow{right:0}.tippy-box[data-placement^=left]>.tippy-arrow:before{border-width:8px 0 8px 8px;border-left-color:initial;right:-7px;transform-origin:center left}.tippy-box[data-placement^=right]>.tippy-arrow{left:0}.tippy-box[data-placement^=right]>.tippy-arrow:before{left:-7px;border-width:8px 8px 8px 0;border-right-color:initial;transform-origin:center right}.tippy-box[data-inertia][data-state=visible]{transition-timing-function:cubic-bezier(.54,1.5,.38,1.11)}.tippy-arrow{width:16px;height:16px;color:#333}.tippy-arrow:before{content:"";position:absolute;border-color:transparent;border-style:solid}.tippy-content{position:relative;padding:5px 9px;z-index:1}

.tippy-box[data-theme~="xhibiter"] {
  @apply bg-jacarta-700;
}

.tippy-box[data-theme~="xhibiter"][data-placement^="top"] > .tippy-arrow::before {
  @apply border-t-jacarta-700;
}
.tippy-box[data-theme~="xhibiter"][data-placement^="bottom"] > .tippy-arrow::before {
  @apply border-b-jacarta-700;
}
.tippy-box[data-theme~="xhibiter"][data-placement^="left"] > .tippy-arrow::before {
  @apply border-l-jacarta-700;
}
.tippy-box[data-theme~="xhibiter"][data-placement^="right"] > .tippy-arrow::before {
  @apply border-r-jacarta-700;
}

/* Slider */
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  @apply text-[0] content-['prev'];
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  @apply text-[0] content-['next'];
}

.swiper-button-disabled {
  @apply hidden;
}

/* Slider Dots */
.swiper-pagination {
  @apply relative bottom-0 mt-8;
}

.swiper-pagination-bullet {
  @apply mx-1 inline-block h-2.5 w-2.5 cursor-pointer bg-jacarta-500;
  --swiper-pagination-bullet-inactive-opacity: 0.5;
}

.swiper-pagination-bullet-active,
.swiper-pagination-bullet:hover,
.swiper-pagination-bullet:focus {
  @apply bg-accent opacity-100;
}

/* Lazyload Preloader */
.swiper-lazy-preloader {
  @apply absolute left-1/2 top-1/2 z-10 -ml-[21px] -mt-[21px] box-border h-[42px] w-[42px] origin-center animate-spin rounded-full border-4 border-accent border-t-transparent;
}

/* Full slider with thumbs */
.eversor-products-hero-slider-thumbs .swiper-slide-thumb-active {
  @apply bg-white/10;
}

.swiper-slide-thumb-active .progress {
  @apply w-full transition-width duration-[5000ms] ease-linear;
}

/* 3D shadow */
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  @apply rounded-2.5xl;
}

/* Scrollbar */
.swiper-scrollbar {
  @apply bg-jacarta-100 dark:bg-jacarta-600;
}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  @apply mt-16 h-0.5 right-[1%] relative;
}

.swiper-scrollbar-drag {
  @apply relative left-0 top-0 h-full w-full rounded bg-accent;
}

/* Tabs */
.nav-tabs {
  list-style: none;
  padding: 0;
}

button.nav-link {
  @apply text-jacarta-700 border-0 border-b border-jacarta-100 z-[1];
  background-color: transparent;
  text-align: left;
}

button.nav-link:hover {
  background-color: transparent;
}

.nav-link-content {
  @apply font-normal;
}

.nav-link__icon svg {
  width: 32px;
  height: 32px;
}

.nav-link.active .nav-link-content {
  display: block
}

.tab-content>.tab-pane {
  display: none
}

.tab-content>.active {
  display: block
}

.nav-link.nav-link--style-2 {
  @apply p-6 rounded-none;
}

.nav-link--style-2.active {
  @apply rounded-2.5xl border-b-transparent bg-white shadow-2xl after:hidden dark:bg-jacarta-700;
}

.tab-pane .tab-pane__img {
  @apply border border-jacarta-100 rounded-full w-auto;
  border-style: solid;
}

.nav-link.nav-link--style-3 {
  @apply border-b-0 p-0 after:absolute after:-z-10 after:!h-2.5 after:w-0 after:bg-accent text-jacarta-300 after:transition-width;
}

.nav-link.nav-link--style-3.active {
  @apply border-b-0 text-white before:absolute before:-left-2 before:h-0 before:w-0 before:border-transparent before:border-l-jacarta-200 before:[border-width:8px_0_8px_8px] after:bottom-1 after:w-full before:md:-left-8;
}


/*-------------------------------------------------------*/
/* Footer
/*-------------------------------------------------------*/
.footer__bottom a,
.footer__widgets a {
  text-decoration: underline;
}

.footer__bottom a {
  color: inherit;
}

/*-------------------------------------------------------*/
/* Widgets
/*-------------------------------------------------------*/
.widget a {
	color: inherit;
}

.widget a:hover,
.widget a:focus {
	color: var(--deo-primary-color);
}

.widget ul {
	@apply p-0 m-0;
}

.footer__widgets > div {
  @apply mb-8;
}

.sidebar .widget {
	@apply mb-14;
}

.sidebar .widget:last-child {
	@apply mb-0;
}

.wdiget li {
	list-style: none;
}

.widget.widget_block h2,
.widget .wp-block-search__label,
.widget-title {
	@apply mb-6 text-md;
	font-family: var(--deo-heading-font);
	font-weight: var(--deo-heading-font-weigth);
}

.widget .sub-menu,
.widget .children {
	@apply pl-3 pt-1;
}

.widget .sub-menu li:first-child,
.widget .children li:first-child {
	@apply pt-0;
}

.menu-item {
	list-style: none;
}

.social svg {
  display: inline-block;
}

/* Categories, Comments
----------------------------------------------------------------*/
.wp-block-latest-comments li,
.wp-block-categories-list li {
	font-size: 1rem;
}

.wp-block-categories-list li {
	margin-bottom: 5px;
}

/* Archives / Categories / Pages / Nav Menu / Meta
-------------------------------------------------------*/
.widget_archive li,
.widget_categories li,
.widget_pages li,
.widget_nav_menu li,
.widget_meta li,
.recentcomments {
	position: relative;
	padding-bottom: 4px;
}

/* Widget RSS
-------------------------------------------------------*/
.widget_rss li {
	padding: 16px 0;
	border-bottom: 1px solid var(--deo-border-color);
}

.widget_rss li:first-child {
	padding-top: 0;
}

.widget_rss .rsswidget {
	color: var(--deo-heading-color);
}

.rsswidget:hover {
	color: var(--deo-primary-color);
}

.widget_rss .rss-date {
	display: block;
	color: var(--deo-text-color);
	font-size: 0.8125rem;
	margin: 6px 0 12px;
}

.widget_rss .rssSummary {
	margin-bottom: 8px;
}

.widget_rss .rssSummary + cite {
	font-size: 0.8125rem;
	color: var(--deo-text-color);
}

.widget_rss .widget-title .rsswidget:last-child {
	vertical-align: middle;
	margin-left: 5px;
	margin-top: 2px;
	display: inline-block;
}

/* Widgets select (Categories, Archives, Text Widget)
-------------------------------------------------------*/
.widget_categories select,
.widget_archive select,
.widget_text select {
	margin-bottom: 0;
}

/* Widget Calendar
-------------------------------------------------------*/
.calendar_wrap table {
  width: 100%;
}
.calendar_wrap th,
.calendar_wrap td,
.calendar_wrap span {
  display: table-cell;
  font-size: 0.875rem;
  line-height: 1;
  text-align: center;
}
.calendar_wrap caption {
  caption-side: top;
  text-align: center;
  background-color: var(--deo-background-color--light);
  margin-bottom: 0;
  border: 1px solid var(--deo-border-color);
  border-bottom: 0;
  font-weight: 500;
}
.calendar_wrap .pad {
  background: none;
}
.calendar_wrap .wp-calendar-nav {
  padding: 10px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.calendar_wrap .wp-calendar-nav span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.calendar_wrap tfoot #prev,
.calendar_wrap .wp-calendar-nav-prev {
  text-align: left;
}
.calendar_wrap tfoot #next,
.calendar_wrap .wp-calendar-nav-next {
  text-align: right;
}

/* Widget Popular / Latest Posts
-------------------------------------------------------*/
.widget-popular-posts__list > li {
  padding-bottom: 32px;
}
.widget-popular-posts__list > li:last-child {
  padding-bottom: 0;
}
.widget-popular-posts__article {
  padding-bottom: 16px;
  border-bottom: 1px solid var(--deo-border-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.widget-popular-posts__article:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
.widget-popular-posts__img-holder {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 88px;
          flex: 0 0 88px;
  max-width: 88px;
  position: relative;
  margin-right: 1.5em;
}
.widget-popular-posts__thumb-container {
  overflow: hidden;
}
.widget-popular-posts .widget-popular-posts__entry-title {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.4;
  margin-bottom: 4px;
}
.widget-popular-posts .widget-popular-posts__entry-title a {
  color: var(--deo-heading-color);
}
.widget-popular-posts .widget-popular-posts__entry-title a:hover {
  color: var(--deo-primary-color);
}
.widget-popular-posts .entry__meta-date {
  text-transform: initial;
  font-family: inherit;
  font-size: 0.8125rem;
}

.wp-block-latest-posts li {
  @apply relative overflow-hidden mb-3;
}

.wp-block-latest-posts li:last-child {
  margin-bottom: 0;
}

.wp-block-latest-posts__featured-image {
  margin-top: 0;
  margin-bottom: 10px;
}

.wp-block-latest-posts__featured-image img {
  @apply rounded;
}

.wp-block-latest-posts.wp-block-latest-posts__list {
  padding: 0;
}

.wp-block-latest-posts .wp-block-latest-posts__post-title {
  @apply text-jacarta-700 dark:text-jacarta-300;
  display: block;
  font-family: var(--deo-heading-font);
  font-weight: var(--deo-heading-font-weigth);
  font-size: 0.875rem;
  line-height: 1.3;
}

.wp-block-latest-posts .wp-block-latest-posts__post-title:hover,
.wp-block-latest-posts .wp-block-latest-posts__post-title:focus {
  color: var(--deo-primary-color);
}

.wp-block-latest-posts__post-author,
.wp-block-latest-posts__post-date {
  font-size: 0.8125rem;
  margin-top: 5px;
}


/* Widget Newsletter 
-------------------------------------------------------*/
.sidebar .widget_mc4wp_form_widget {
  border: 1px solid var(--deo-border-color);
  padding: 28px 24px;
}

/* Widget Info
-------------------------------------------------------*/
.widget-info__item:not(:last-child) {
  margin-bottom: 20px;
}
.widget-info__title {
  display: block;
  font-weight: 600;
  margin-bottom: 6px;
  text-transform: uppercase;
  font-size: 0.8125rem;
}

/* Widget Search
-------------------------------------------------------*/
.widget.widget_search,
.widget.widget_product_search {
  padding: 0;
  border: 0;
}

.widget_search .search-input {
  margin: 0;
  background-color: #fff;
}

input.search-input {
  height: auto;
}

.widget-search-button,
.search-form__button,
.search-button,
.woocommerce-product-search button[type=submit] {
  font-family: "xhibiter";
  position: absolute;
  top: 0;
  right: 0;
  width: 46px;
  height: 44px;
  padding: 0 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent !important;
  color: var(--deo-text-color);
  border: 0;
  vertical-align: middle;
}
.widget-search-button::before, .widget-search-button::after,
.search-form__button::before,
.search-form__button::after,
.search-button::before,
.search-button::after,
.woocommerce-product-search button[type=submit]::before,
.woocommerce-product-search button[type=submit]::after {
  display: none;
}
.widget-search-button:hover, .widget-search-button:focus,
.search-form__button:hover,
.search-form__button:focus,
.search-button:hover,
.search-button:focus,
.woocommerce-product-search button[type=submit]:hover,
.woocommerce-product-search button[type=submit]:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: inherit;
  color: inherit;
}

.search-form {
  position: relative;
}
.search-form .widget-search-button,
.search-form .search-form__button,
.search-form .search-button,
.search-form .woocommerce-product-search button[type=submit] {
  border-radius: 0;
  font-size: 1rem;
}

.search-form .widget-search-button:hover, .search-form .widget-search-button:focus,
.search-form .search-form__button:hover,
.search-form .search-form__button:focus,
.search-form .search-button:hover,
.search-form .search-button:focus,
.search-form .woocommerce-product-search button[type=submit]:hover,
.search-form .woocommerce-product-search button[type=submit]:focus {
  color: #000;
}

.wp-block-search__inside-wrapper {
  @apply bg-jacarta-50 dark:bg-jacarta-700 rounded relative overflow-hidden;
}

.wp-block-search .wp-block-search__input {
  background-color: transparent;
  border: 0;
  margin-bottom: 0;
}

.wp-block-search .wp-block-search__input:focus {
  box-shadow: none;
}

.wp-block-search .wp-block-search__button::before, .wp-block-search .wp-block-search__button::after {
  display: none;
}

.wp-block-search .wp-block-search__button.has-icon {
  @apply text-jacarta-700 dark:text-white py-2 px-3 border-0 bg-transparent;
}

.wp-block-search .wp-block-search__button.has-icon:focus,
.wp-block-search .wp-block-search__button.has-icon:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: inherit;
}

.wp-block-search .wp-block-search__button:not(.has-icon) {
  @apply bg-jacarta-50;
  color: var(--deo-heading-color);
  border-color: var(--deo-border-color);
  font-size: 0.875rem;
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper {
  padding: 0;
  border: 0;
}

/* Widget Tags / Entry Tags
-------------------------------------------------------*/
.widget_tag_cloud .tagcloud a,
.wp-block-tag-cloud a,
.widget_product_tag_cloud a {
  line-height: 1;
  margin: 0 5px 5px 0;
  padding: 9px 24px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  font-size: 0.8125rem !important;
  color: var(--deo-text-color);
  background-color: var(--deo-background-color--light);
  float: left;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.widget_tag_cloud .tagcloud a:hover, .widget_tag_cloud .tagcloud a:focus,
.wp-block-tag-cloud a:hover,
.wp-block-tag-cloud a:focus,
.widget_product_tag_cloud a:hover,
.widget_product_tag_cloud a:focus {
  text-decoration: none;
  background-color: var(--deo-primary-color);
  color: #fff;
}

.wp-block-tag-cloud,
.tagcloud {
  overflow: hidden;
}

.sidebar .widget_tag_cloud .tagcloud a,
.sidebar .wp-block-tag-cloud a {
  background-color: #fff;
}
.sidebar .widget_tag_cloud .tagcloud a:hover, .sidebar .widget_tag_cloud .tagcloud a:focus,
.sidebar .wp-block-tag-cloud a:hover,
.sidebar .wp-block-tag-cloud a:focus {
  background-color: var(--deo-primary-color);
}

/* Widget Blocks
-------------------------------------------------------*/
.wp-block-latest-comments__comment {
  line-height: 1.5;
}

.wp-block-latest-comments__comment a {
  @apply text-jacarta-700 dark:text-white;
}